---
layout: home
main-title: "PHOT&#8226;O&#8226;RAMA"
subtitle: "Photo Journal"
description: "Photography and more"
images:
 - image_path: https://lh3.googleusercontent.com/5s81RaYsAt2C70bQMVIonQGaM79gzhE-hfZ00KP4a6XavN8hAjNysLocaiQJ8txpGvHCp9tWaZhJI2xJcC0iGIbqw8iU5Pvu3NI2TXxwZDIeAqIh5DukW5qiXMV0hZwjSTM88-hJsMgkomefhkEAFSqSKnr_Qdb3jk6fwfpKgbrLUPHShlR3t3JHp0UuUOXJvkjY-Gj6RmUtfnI7_-FE9BPp7W46IQkiNfWSb9AfDcLguGbO8JZMKNB38LlZWas3ANaj8htJCzNrV-ioa-pivj2OGFyVk3B4UcOUOy5BPqadQMq1U8-hnA-lRs7ipyUWjAqp85udPFueWxmNYD3zxFpswgYHL2N0FaelVkb62jD2POzKr64R-IvRYEA_O9zdthbpduHWxoprYyAJRv9ZhLpdvoya8WqiPBcLTWy6yKSu1XCcvuIQw79ILzfOjNxgdjmC8J3MjHJiKI8Ioz1GbUGgwfd-0lwwjN6t5fL1aiu5RUcEL49orOLyjbDCmefmU5ec0JEroTls5x4pf-Wkdl_OhhNjuJdfYCk33hN_y--91llZNjpkZgqbpQ5EXSAQvAnW_pja_ECd43qkLqnh2r8nVArpBxVF5qR2LIxfk-sCm3n_=w800-h531-no
   gallery-folder: /img/slider/
 - image_path: https://lh3.googleusercontent.com/kCo7amNBOZ5DBiK6GCYiI0SiCukeLFQbSQWeAdlZ4FW1UfPE2ODSeF4v93CWvOJnY2QntBfDESpbmWlC6o3a8-WouQOhPLWF_NK7wpEl5TYzdGwnsqAOwNc_cpC3BTYqdOuJdcm0FVrOJE_FJ6sRK7Q6Xdp7jXOwL3efrJArdgzgcMSWnfncesoN7dI0FYgWjgzH4pVm6Z6t2THYyefmbg_xzaybgc-efpQigkSTIc3oGGBCmfzTUTHKEIPrNDCjbM0JeFzJv76YJrVOaoJvpict-K20SQGta5Ilq2tx2n7rEmhCERKcMFGok-cZZFkfgXQ1mXWBH9dCt4Y2PgRnJVBTkQI0sdwwEqfqUKNjwzSaB3OZvEX63EKIMfcYtfoMim-W0kMaM61-3R-4IT3Qlixxnx2-9jNh-jjWnt6RZv2o8sPzLWXHv6Bl-tSQ6QVs-n8iAPvv-h4KNJt_X4Pfqmfu5YOLsYuUrx7TCQ4iMXbKk2Hnug1eRSZBqOYmK1EJbpSvV2dNxv_F3icoFvVqHq-Uaa8Ah9XfsD06qiEbKbahoCzR6r6HmwO2HCV29WoDXyl_Ybu6A9aMByDM7HAbF9wt6cClh9FE_sm82lgwaGOeNyBF=w800-h531-no
   gallery-folder: /img/slider/
 - image_path: https://lh3.googleusercontent.com/8el9ybpKhe0o2e61z-JZ1k3ujmRBEqg6amPiYN24iFFg_DqN8mKa5LxYDf808OxYMB-hWDVsSBfJM7x8_UHDLi219BKsdIYPe1ItBOBAkBf8Lqr8URNh6KA67HU9laTp3NXEuDngNSyNUnbLVRcHlv1sMQ0eB449K3MmDXrLSjIgwRInDSPHrD_f9WLVsHxx2hB2Y-9KdMNDuHEEeRJoxtCQqsHzSd6C6HW_hXTLnUE8LvdECKn8TXuufNGGF6KwUhBW-ZsXYDwUOST7_DViPX3eTKa79M3YxS8FrpdjzNdSu8VKXlLLqHKStIfKzJUt0w3Zs_hfKZ4cBEef5eNeZrHqvNX3nBrQYYbkKFEB1BCKDaf7SX8Ff_KxyteD15U2g4ql0smVm218NkPNvnm5CMg8meckk2SuXisuA90C0gf5BVJP2kl5pZvhF8StxIymo--5cl-giZpTuzbACO3qSfkcqIv8LdoHT2ZiJwZJIxG1Gczf4_ipbYvQgWF2a98dTprR6nEZn9NBG6aq6RH7o4gL4Z7D5zhgQOQNzquhSfktl4C1_JChrYu2s_SYGBHxSHzT4bo5j1mKLTNFcx51ielrjx1k2dQvnhHrhShY8E_hp28K=w1920-h1111-no
   gallery-folder: /img/slider/
---


<html class="no-js" lang="en">
<head>
	<meta content="charset=utf-8">

<!-- CSS -->
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
     <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" type="text/css" media="screen" />
      <link rel="stylesheet" href="{{ site.baseurl }}/css/galleries.css" media="screen" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/WYSIWYG.css" media="screen" />



	<!-- Modernizr -->
  <script src="{{ site.baseurl }}/js/modernizr.js"></script>



  

</head>

<body class="fullscreen">

<!-- MAIN CONTENT SECTION  _____________________________________________-->
	<section id="content" role="main">
		<div class="wrapper">

			<!-- WYSIWYG -->

		<div class="position-absolute">
				<h2 class="big no-margin"><strong>{{ page.main-title }}</strong></h2>
				<h2>{{ page.subtitle }}</h2> 
                     <div class="entry-summary">
							<p>{{ page.description }}</p>
						</div><br />
			</div>
			
			<div class="gallery fullscreen-gallery kenburns-gallery">

				<canvas id="kenburns"></canvas>
				
{% for image in page.images %}  	

				<figure class="gallery-item">
					<header class='gallery-icon'>

<a href="{{ site.url }}{{ site.baseurl }}{{ image.gallery-folder }}">
<img src="{{ image.image_path }}"></a>
	
				</header>	
				</figure>

{% endfor %}

				</div>
			<!-- END WYSIWYG -->
			
	
		</div><!-- END .wrapper -->
		
	</section>

<div id="footer" role="contentinfo">
		<ul class="soc-icons">

                 {% if site.facebook_username %}
			<li>
   <a href="https://facebook.com/{{ site.facebook_username }}" style="
color:#dddddd; target="_blank" title="Facebook">
                       <i class="fa fa-facebook"></i>
                     </span>
</a></li>
    {% endif %}
 {% if site.twitter_username %}
			<li>
   <a href="https://twitter.com/{{ site.twitter_username }}" style="
color:#dddddd; target="_blank" title="Twitter">
                       <i class="fa fa-twitter"></i>
                     </span>
</a></li>
    {% endif %}
                {% if site.instagram_username %}
			<li>
   <a href="https://instagram.com/{{ site.instagram_username }}" style="
color:#dddddd; target="_blank" title="Instagram">
                       <i class="fa fa-instagram"></i>
                     </span>
</a></li>
    {% endif %}
                    {% if site.flickr_username %}
						<li>
   <a href="https://flickr.com/photos/{{ site.flickr_username }}" style="
color:#dddddd; target="_blank" title="Flickr">
              <i class="fa fa-flickr"></i>
                     </span>
 </a></li>	
     {% endif %}
                    {% if site.deviantart_username %}
			<li>
   <a href="http://{{ site.deviantart_username }}.deviantart.com" style="
color:#dddddd; target="_blank" title="DeviantArt">
<i class="fa fa-deviantart"></i> </span>
</a></li>	
    {% endif %}
                    {% if site.github_username %}
                <li>
   <a href="https://github.com/{{ site.github_username }}" style="
color:#dddddd; target="_blank" title="Github">
              <i class="fa fa-github"></i>
                     </span>
                   {% endif %}
<li>
    <a href="mailto:{{ site.email }}" style="
color:#dddddd; target="_blank" title="Email">
              <i class="fa fa-envelope-o"></i></span>
          </a> </li>
	
					
		</ul>	
	</div>

  
<!-- jQuery -->
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <script src="{{ site.baseurl }}/js/retina.min.js"></script> 

<!-- include mousewheel plugins -->
<script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
<!-- include gallery cycle plugin -->
<script src="{{ site.baseurl }}/js/jquery.cycle.min.js"></script>
<!-- include kenburns plugins -->
<script src="{{ site.baseurl }}/js/kenburns.min.js"></script>
<!-- include svg line drawing plugin -->
<script src="{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
<!-- include custom script -->
<script src="{{ site.baseurl }}/js/scripts.js"></script>


       </body>
    </html>

